body {
    background-color: rgb(185, 60, 60);
}

nav a {
    margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    text-decoration: none;
    color:rgba(red, green, blue, alpha);
    display: flex;
  justify-content: center;
}

p { 
    color: azure;
}

.categoria-videos img {
    opacity: 0.6;
}




.vermelho {
    font-style: italic;
}


.img1 {
    width: 70%
}
.centro{
    text-align: justify;
}

img {
    height: 200px;
}

